<form class="user-update-modal" (ngSubmit)="save()" [formGroup]="editForm">
  <div class="modal-header" #topElement tabindex="-1">
    <h4 class="modal-title text-center">{{ isEdit ? 'Edit' : 'Create' }} user</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
  </div>
  <jhi-alert-error></jhi-alert-error>
  <div class="modal-body">
    <div class="row mb-2">
      <div class="col-md mb-sm-2">
        <div class="form-group">
          <label jhiTranslate="userManagement.update.firstName">First Name <span title="required" class="text-danger">*</span></label>
          <input
            jhiTrimText
            type="text"
            class="form-control"
            name="firstName"
            formControlName="firstName"
            [(ngModel)]="userInput.firstName"
            [class.is-invalid]="validate(firstName())"
          />
          <!-- error message -->
          <div *ngIf="validate(firstName())">
            <small
              class="form-text text-danger"
              *ngIf="firstName()!.errors?.['maxlength']"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
            <small class="form-text text-danger" *ngIf="firstName()!.errors?.['required']" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="form-group">
          <label jhiTranslate="userManagement.update.lastName">Last Name <span title="required" class="text-danger">*</span></label>
          <input
            jhiTrimText
            type="text"
            class="form-control"
            name="lastName"
            formControlName="lastName"
            [(ngModel)]="userInput.lastName"
            [class.is-invalid]="validate(lastName())"
          />
          <!-- error message -->
          <div *ngIf="validate(lastName())">
            <small
              class="form-text text-danger"
              *ngIf="lastName()!.errors?.['maxlength']"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
            <small class="form-text text-danger" *ngIf="lastName()!.errors?.['required']" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md">
        <div class="form-group">
          <label jhiTranslate="userManagement.update.email">Email <span title="required" class="text-danger">*</span></label>
          <input
            jhiTrimText
            type="text"
            class="form-control"
            name="email"
            [(ngModel)]="userInput.email"
            formControlName="email"
            [class.is-invalid]="validate(email())"
          />
          <!-- error message -->
          <div *ngIf="validate(email())">
            <small
              class="form-text text-danger"
              *ngIf="email()!.errors?.['maxlength']"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
            <small class="form-text text-danger" *ngIf="email()!.errors?.['required']" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" *ngIf="email()!.errors?.['pattern']" jhiTranslate="global.messages.validate.email.invalid">
              Your email is invalid.
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="form-group">
        <label jhiTranslate="userManagement.update.profiles">Authorities <span title="required" class="text-danger">*</span></label>
        <select
          class="form-select"
          multiple
          formControlName="authorities"
          [(ngModel)]="userInput.authorities"
          [class.is-valid]="validate(authority())"
        >
          <option *ngFor="let authority of authorities" [value]="authority">
            {{ authority }}
          </option>
        </select>
        <!-- error message -->
        <div *ngIf="validate(authority())">
          <small class="form-text text-danger" *ngIf="authority()!.errors?.['required']" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button [disabled]="disableSave()" type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
