<footer class="footer page-content">
  <div class="padded-section footer-max-width row">
    <div class="text-left col-12 col-sm-9">
      <a href="https://goo.gl/maps/gDJhiSWreg11ws2s8" target="_blank" rel="noopener" class="underline-ltr"
        >2128 E Mill Plain Blvd, Vancouver, WA <span class="d-none d-sm-inline">98661</span></a
      ><br /><a href="tel: +1.360.450.5105" class="underline-ltr">+1.360.450.5105</a><br /><a
        href="mailto:info@formos.com?Subject=Information%20Request"
        target="_top"
        class="underline-ltr"
        >info@formos.com</a
      >
    </div>
    <div class="text-xs-left text-sm-end col-12 col-sm-3">
      <a class="underline-ltr" href="https://www.formos.com/our-work"><span>Our Work</span></a
      ><br />
      <a class="underline-ltr" href="https://www.formos.com/our-team"><span>Our Team</span></a
      ><br />
      <a class="underline-ltr" href="https://www.formos.com/approach"><span>Approach</span></a
      ><br />
      <a class="underline-ltr" href="https://www.formos.com/services"><span>Services</span></a
      ><br />
    </div>
  </div>
</footer>
