.card-header-prf {
  padding: 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
}

.header-prf {
  padding-bottom: 0.5rem;
  padding-top: 0;
}

.reset-password {
  color: var(--primary);
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.75rem;
  text-align: center;
  margin-bottom: 0.5rem;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #24648c;
}

.card-body-prf {
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 1px;
  position: relative;
}

.form-body-prf {
  padding-top: 0rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.058em + 1.2rem + 2px);
  padding: 0.8rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: #f6fafc;
  background-clip: padding-box;
  border: 1px solid #f6fafc;
  border-radius: 0.24rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-new-password {
  padding: 0.75rem 2rem;
  border-radius: 0.24rem;
  margin: 0;
}
