<div class="modal-header">
  <h4 id="jhi-caregiver-type-heading" jhiTranslate="emailTemplate.title.sendTestMail">Send Test Email</h4>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close()">&times;</button>
</div>
<form name="editForm" role="form" novalidate (ngSubmit)="sendMail()" #editForm="ngForm">
  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>
  <div class="modal-body">
    <div class="send-test-email" id="jhi_content">
      <div class="row">
        <div class="col-12 mb-3">
          <div class="form-group">
            <label jhiTranslate="emailTemplate.label.update.email">Email <span title="required" class="text-danger">*</span></label>
            <input
              jhiTrimText
              type="email"
              class="form-control"
              name="email"
              #emailAddressInput="ngModel"
              [(ngModel)]="sendTestMail.recipientUser.email"
              minlength="5"
              required
              maxlength="100"
              email
            />
            <div *ngIf="emailAddressInput.invalid">
              <small
                class="form-text text-danger"
                *ngIf="emailAddressInput.errors?.required"
                jhiTranslate="global.messages.validate.email.required"
              >
                This field is required.
              </small>
              <small class="form-text text-danger" *ngIf="emailAddressInput.errors?.pattern" jhiTranslate="messages.validate.email.invalid">
                Your email is invalid.
              </small>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label jhiTranslate="emailTemplate.label.update.firstName"
              >First Name <span title="required" class="text-danger">*</span></label
            >
            <input
              jhiTrimText
              type="text"
              class="form-control"
              name="firstName"
              #firstNameInput="ngModel"
              [(ngModel)]="sendTestMail.recipientUser.firstName"
              maxlength="150"
              required
            />
            <div *ngIf="firstNameInput.invalid && firstNameInput.dirty">
              <small class="form-text text-danger" *ngIf="firstNameInput.errors?.required" jhiTranslate="entity.validation.required">
                The First Name is required.
              </small>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label jhiTranslate="emailTemplate.label.update.lastName">Last Name <span title="required" class="text-danger">*</span></label>
            <input
              jhiTrimText
              type="text"
              class="form-control"
              name="lastName"
              #lastNameInput="ngModel"
              [(ngModel)]="sendTestMail.recipientUser.lastName"
              maxlength="150"
              required
            />
            <div *ngIf="lastNameInput.invalid && lastNameInput.dirty">
              <small class="form-text text-danger" *ngIf="lastNameInput.errors?.required" jhiTranslate="entity.validation.required">
                The Last Name is required.
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" id="send-entity" [disabled]="editForm.form.invalid" class="btn btn-primary sameWidth">
      <span jhiTranslate="emailTemplate.button.send">Send</span>
    </button>
    <button type="button" id="cancel-send" class="btn btn-dark sameWidth" (click)="close()">
      <span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>
  </div>
</form>
