<div class="container">
  <div class="row justify-content-center">
    <div *ngIf="success" class="reset-your-password" jhiTranslate="reset.request.title">Reset your password</div>
    <div class="alert alert-success" *ngIf="success">
      <span jhiTranslate="reset.request.messages.success">Check your emails for details on how to reset your password.</span>
    </div>

    <div class="col-lg-6 col-md-8 shadow card my-5" *ngIf="!success">
      <div class="card-header border-0 bg-transparent pt-4">
        <div class="reset-your-password" jhiTranslate="reset.request.title">Create new password</div>
      </div>
      <div class="p-2 mb-3">
        <div class="card-body pb-0 pt-0">
          <jhi-alert-error></jhi-alert-error>
          <div class="alert alert-warning mb-0">
            <span jhiTranslate="reset.request.messages.info"
              >Enter the email you registered with and we will send you a Password Reset link.</span
            >
          </div>
        </div>
      </div>
      <form class="card p-2 pr-5 mb-3 border-0 pt-0" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
        <div class="card-body pt-0">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="field_email"
              name="email"
              placeholder="{{ 'global.form.email.placeholder' | translate }}"
              formControlName="email"
              #email
            />
            <div
              *ngIf="
                resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="resetRequestForm.get('email')?.errors?.required"
                jhiTranslate="global.messages.validate.email.required"
              >
                Your email is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="resetRequestForm.get('email')?.errors?.email"
                jhiTranslate="global.messages.validate.email.invalid"
              >
                Your email is invalid.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="resetRequestForm.get('email')?.errors?.minlength"
                jhiTranslate="global.messages.validate.email.minlength"
              >
                Your email is required to be at least 5 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="resetRequestForm.get('email')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.email.maxlength"
              >
                Your email cannot be longer than 50 characters.
              </small>
            </div>
          </div>
        </div>
        <div class="card-footer border-0 bg-transparent text-right d-flex justify-content-end">
          <button
            type="submit"
            [disabled]="resetRequestForm.invalid"
            class="btn btn-primary text-white"
            jhiTranslate="reset.request.form.button"
          >
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
